@import '~styles/settings/global';
@import '~styles/tools/mixins/all';

$color-text: #929292;
$h1-color: #ffffff;

.heroImageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artboardContainer {
  padding-top: 2.5em;
}

.artboard {
  max-width: 16.25em;

  @include respond-to(medium) {
    max-width: 100%;
  }
}

.infoContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0;

  @include respond-to(medium) {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 6em;
    width: 100%;
  }
}

.infoContainer small,
p {
  color: $color-text;
}

.infoContainer p {
  margin-top: 0;
}

.infoContainer h1 {
  color: $h1-color;
  margin: 0 0 0.4em;
  text-align: center;
  text-transform: uppercase;

  @include respond-to(medium) {
    font-size: 2.5rem;
    text-align: left;
  }
}

.containerButton {
  margin-top: 1em;
}

.button {
  background: #f00038;
  border-radius: 1.875em;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.125em;
  padding: 0.75em 2em;
  text-decoration: none;
  text-transform: uppercase;
}
